<button (click)="createNewProduct()">Create new Product</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
</div>

<div class="product-detail" [ngClass]="{ active: showProductDetail }">
  <div *ngIf="productDetail">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productDetail.title }}</h1>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productDetail.images">
        <img [src]="img" alt="" />
      </ng-template>
    </swiper>
    <p>{{ productDetail.description }}</p>
    <p>{{ productDetail.id }}</p>
    <button (click)="updateProduct()">Editar</button>
  </div>
</div>
